html>body {overflow:scroll; }

body{
background-color:#525252;
}

.buttons{
	position: absolute;
}

.animationContainer{
border:solid;
position:absolute;
top:4%;
}

.VEContainer{
left:57.25%;
border:solid; 
position: absolute;
top:4%;
background-color:#20cfd0;
}

.objectContainer{
border:solid;
position:absolute;
top:62%;
background-color:#20cfd0;
}

#buttons{
float:right;
position:fixed;
}