html{overflow-y: auto}

body{
background-color:#525252;
}

.animationContainer{
width:800px;
height:400px;
border:solid;
position:fixed;
top:40px;
}

.VEContainer{
left:820px;
width:300px;
height:600px;
border:solid; 
position: fixed;
top:40px;
background-color:#20cfd0;
}

.objectContainer{
width:800px;
height:400px;
border:solid;
position:fixed;
top:450px;
background-color:#20cfd0;
}

.vertical-scroll{
height:300px;
}




#buttons{
float:right;
position:fixed;
}